/* You can add global styles to this file, and also import other style files */
body {
    padding-top: 70px;
    padding-bottom: 30px;
  }
  .navbar-brand {
    height: 60px;
    padding-top: 5px;
  }
  .form-control {
    margin: 20px 0;
  }  
  .form-control input {
    width: 20%;
    height: 40px;
    margin: 20px;
    padding: 3px 7px;
    font-size: 17px;
  }

  .btn {
    display: inline-block;
    background: #3354e4;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit;
  }
  .btn:focus {
    outline: none;
  }
  .btn:active {
    transform: scale(0.98);
  }
  
  .btn-block {
    display: block;
    width: 100%;
  }
  